<section class="featured-recipes">
  <h2 class="section-header">Featured Recipes</h2>
</section>

{% schema %}
  {
    "name": "Featured Recipes",
    "settings": [],
    "blocks": [
      {
        "type": "recipe",
        "name": "Recipe",
        "settings": [
          {
            "id": "recipe",
            "type": "metaobject",
            "label": "Select a Recipe",
            "metaobject_type": "recipe"
          }
        ]
      }
    ],
    "max_blocks": 6,
    "presets": [
      {
        "name": "Featured Recipes",
        "category": "Custom"
      }
    ]
  }
{% endschema %}